::-webkit-scrollbar {
    width: 0;
    height: 0;
}

cn, en {
    display: none;
}

body[data-lang="en"] cn, body[data-lang="cn"] en {
    display: none;
}

body[data-lang="en"] en, body[data-lang="cn"] cn {
    display: flex;
}

@font-face {
    font-family: "Regular";
    src: url('../font/regular.woff2') format('woff2'), 
        url("../font/regular.ttf") format('truetype');
}

body, div, p, input, select, a, button, en, cn {
    margin: 0;
    user-select: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Regular", sans-serif;
}

body {
    overflow-x: hidden;
}

html, body {
    width: 100%;
    background-color: black;
}

.container {
    width: 100%;
    overflow-x: hidden;
}

.navbarContainer {
    height: 10vh;
    width: 100%;
    background-color: #174d3d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;
}

.logoPic {
    height: calc(3vh + 3vw);
    margin: 0 0 0 2%;
}

.logoTitle {
    color: white;
    margin: 0.5% 0 0.5% 1%;
    text-decoration: none;
    font-weight: bold;
}

.logoSubtitle {
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: calc(1vh + 1vw);
    margin-top: calc(.25vh + .25vw);
    line-height: 1.6;
}

.logoContainer {
    height: 100%;
    width: 55%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.infoContainer {
    height: 60%;
    width: calc(30% + 5vh);
    background-color: white;
    margin: 0 3% 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchBox {
    height: 100%;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.searchPic {
    width: 6%;
}

.searchInputBox {
    height: 90%;
    width: 75%;
}

.searchInput {
    height: 100%;
    width: 100%;
    border: none;
    font-size: calc(1.2vh + 1.2vw);
    padding: 0;
}

.infoBox {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 25%;
}

.infoPic {
    max-width: 30%;
    max-height: 75%;
    aspect-ratio: 1;
}

.footer {
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2% 0 2% 0;
    font-size: calc(0.5vh + 0.5vw);

    --move: inherit;
    margin-left: var(--move);
}

.footer div {
    color: white;
}

.footer div a {
    color: white;
    font-weight: bold;
}

.errorContainer {
    position: fixed;
    right: calc(0.75vh + 0.75vw);
    top: calc(0.75vh + 0.75vw);
    z-index: 9999;
    background-color: #f16a5f;
    border-radius: 5px;
    animation: errorAnimation 2.5s linear both -2.5s;
}

.errorText {
    font-size: calc(1vh + 1vw);
    color: white;
    padding: 10px;
}

@keyframes errorAnimation {
    0%, 100% {
        opacity: 0;
        display: none;
    }
    10%, 90% {
        opacity: 1;
        display: flex;
    }
}

@media (min-aspect-ratio: 1/1) {
    .bg, .tempBg, .bgS {
        height: 100vh;
        min-width: 100vw;
    }

    .logoTitle {
        font-size: calc(2vw + 2vh);
    }

    .logoSubtitle {
        font-size: calc(.5vh + .5vw);
    }
}

@media (max-aspect-ratio: 1/1) {
    .bg, .tempBg, .bgS {
        min-height: 100vh;
        width: 100vw;
    }

    .logoTitle {
        font-size: calc(1.1vw + 1.1vh);
    }

    .logoSubtitle {
        font-size: calc(.4vh + .4vw);
    }
}

.bg, .bgS {
    position: absolute;
    object-fit: cover;
    opacity: 0;
    top: 0;
    left: 0;
    transition: opacity .5s;
}

.bgS {
    filter: blur(15px);
}

.tempBg {
    background: linear-gradient(315deg, #174d3d, #99cca7);
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
}

.context-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 2px solid #ccc;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    z-index: 99999;
    border-radius: 10px;
}

.context-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.context-menu li, .submenu-items li {
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 10px;
    transition: .25s;
    color: black;
    font-size: calc(.75vh + .75vw);
    white-space: nowrap;
}

.context-menu li:hover, .submenu-items li:hover {
    background-color: rgba(23, 77, 61, .5);
}

.submenu-items {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: #f9f9f9;
    border: 2px solid #ccc;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style: none;
    border-radius: 10px;
    padding: 0;
    margin: 0;
    width: fit-content;
}

.submenu:hover .submenu-items {
    display: block;
}

.context-menu hr {
    width: 80%;
    border: 2px solid #ccc;
    border-radius: 2px;
    --text: "";
    position: relative;
    overflow: visible;
}

.context-menu hr::before {
    content: var(--text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f9f9f9;
    font-size: calc(.5vh + .5vw);
    display: flex;
    justify-content: center;
    font-weight: bold;
    padding: 0 5%;
    white-space: nowrap;
}

#cookieBanner {
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1000;
    width: 100%;
}

#cookieBanner a {
	color: white;
}

#accept-btn {
    margin: 0 0 0 1%;
    white-space: nowrap;
    padding: 10px 20px;
    background-color: #174d3d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .15s;
}

#accept-btn:hover {
    background-color: #74948b;
}

.waitingSubmit {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    visibility: hidden;
    transition: 1s cubic-bezier(1, -1, 0.45, 0.75);
}

.visibleWaitingSubmit {
    visibility: visible;
    opacity: 1;
    background-color: rgba(0,0,0,.75);
}

.waitingSubmitTitle, .waitingSubmitSubtitle {
    display: flex;
    flex-direction: row;
    color: white;
    font-size: calc(2.5vh + 2.5vw);
}

.waitingSubmitSubtitle {
    font-size: calc(1vh + 1vw);
}
