.loaderBox {
    width: 100%;
    height: 100%;
    background-color: #002c1f;
    border-radius: 20px;
    position: absolute;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    align-items: center;
    justify-content: center;
}

.loader {
    position: relative;
    width: 40%;
    aspect-ratio: 1;
}

.loaderBox1,
.loaderBox2,
.loaderBox3 {
    border: calc(1vh + 1vw) solid white;
    box-sizing: border-box;
    position: absolute;
    display: block;
    border-radius: 10px;
}

.loaderBox1 {
    width: 100%;
    height: 43%;
    margin-top: 57%;
    margin-left: 0;
    animation: abox1 2s 1s forwards ease-in-out infinite;
}

.loaderBox2 {
    width: 43%;
    height: 43%;
    margin-top: 0;
    margin-left: 0;
    animation: abox2 2s 1s forwards ease-in-out infinite;
}

.loaderBox3 {
    width: 43%;
    height: 43%;
    margin-top: 0;
    margin-left: 57%;
    animation: abox3 2s 1s forwards ease-in-out infinite;
}

@keyframes abox1 {
    0% {
        width: 100%;
        height: 43%;
        margin-top: 57%;
        margin-left: 0;
    }

    12.5% {
        width: 43%;
        height: 43%;
        margin-top: 57%;
        margin-left: 0;
    }

    25% {
        width: 43%;
        height: 43%;
        margin-top: 57%;
        margin-left: 0;
    }

    37.5% {
        width: 43%;
        height: 43%;
        margin-top: 57%;
        margin-left: 0;
    }

    50% {
        width: 43%;
        height: 43%;
        margin-top: 57%;
        margin-left: 0;
    }

    62.5% {
        width: 43%;
        height: 43%;
        margin-top: 57%;
        margin-left: 0;
    }

    75% {
        width: 43%;
        height: 100%;
        margin-top: 0;
        margin-left: 0;
    }

    87.5% {
        width: 43%;
        height: 43%;
        margin-top: 0;
        margin-left: 0;
    }

    100% {
        width: 43%;
        height: 43%;
        margin-top: 0;
        margin-left: 0;
    }
}

@keyframes abox2 {
    0% {
        width: 43%;
        height: 43%;
        margin-top: 0;
        margin-left: 0;
    }

    12.5% {
        width: 43%;
        height: 43%;
        margin-top: 0;
        margin-left: 0;
    }

    25% {
        width: 43%;
        height: 43%;
        margin-top: 0;
        margin-left: 0;
    }

    37.5% {
        width: 43%;
        height: 43%;
        margin-top: 0;
        margin-left: 0;
    }

    50% {
        width: 100%;
        height: 43%;
        margin-top: 0;
        margin-left: 0;
    }

    62.5% {
        width: 43%;
        height: 43%;
        margin-top: 0;
        margin-left: 57%;
    }

    75% {
        width: 43%;
        height: 43%;
        margin-top: 0;
        margin-left: 57%;
    }

    87.5% {
        width: 43%;
        height: 43%;
        margin-top: 0;
        margin-left: 57%;
    }

    100% {
        width: 43%;
        height: 43%;
        margin-top: 0;
        margin-left: 57%;
    }
}

@keyframes abox3 {
    0% {
        width: 43%;
        height: 43%;
        margin-top: 0;
        margin-left: 57%;
    }

    12.5% {
        width: 43%;
        height: 43%;
        margin-top: 0;
        margin-left: 57%;
    }

    25% {
        width: 43%;
        height: 100%;
        margin-top: 0;
        margin-left: 57%;
    }

    37.5% {
        width: 43%;
        height: 43%;
        margin-top: 57%;
        margin-left: 57%;
    }

    50% {
        width: 43%;
        height: 43%;
        margin-top: 57%;
        margin-left: 57%;
    }

    62.5% {
        width: 43%;
        height: 43%;
        margin-top: 57%;
        margin-left: 57%;
    }

    75% {
        width: 43%;
        height: 43%;
        margin-top: 57%;
        margin-left: 57%;
    }

    87.5% {
        width: 43%;
        height: 43%;
        margin-top: 57%;
        margin-left: 57%;
    }

    100% {
        width: 100%;
        height: 43%;
        margin-top: 57%;
        margin-left: 0;
    }
}