{% extends "base.html" %}

{% block title %}
    Privacy Policy
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/policy.css') }}">
{% endblock %}

{% block content %}
    <div class="policy">
        <p class="policyTitle">
            <en>Privacy Policy</en>
            <cn>隐私政策</cn>
        </p>
        <p class="policySubtitle">
            <en>Last Updated:&nbsp;</en>
            <cn>最近更新日期：</cn>
            2024/09/28
        </p>
        <p class="policySubtitle">
            <en>Person(s) in Charge: Qixin Zhu</en>
            <cn>负责人：Qixin Zhu</cn>
        </p>
        <p class="policySubtitle">
            <en>Notice: This website may be available in multiple languages; however, the English version is the
                authoritative reference. In case of any discrepancies between language versions, the English version
                shall prevail.
            </en>
            <cn>注意：本网站可能有多种语言版本；然而，英文版本是权威的参考。如果语言版本之间有任何差异，以英文版本为准。</cn>
        </p>
        <hr>
        <hr>
        <p class="policyContent">
            <en>This Privacy Policy explains how we collect, use, disclose, and protect your personal information when
                you visit our website and use our services. By using this website, you consent to the practices
                described in this policy.
            </en>
            <cn>
                本隐私政策解释了我们在您访问我们的网站并使用我们的服务时如何收集、使用、披露和保护您的个人信息。通过使用本网站，您同意本政策中描述的做法。
            </cn>
        </p>
        <hr>
        <hr>
        <p class="policySection">
            <en>1. Information We Collect</en>
            <cn>1. 我们收集的信息</cn>
        </p>
        <p class="policyContent">
            <en>We collect the following types of information:</en>
            <cn>我们收集以下类型的信息：</cn>
        </p>
        <hr>
        <p class="policySubContent">
            <en>- Personal Information: Name, email address, gender, grade & class, division (domestic or
                international), and identity (student or teacher).
            </en>
            <cn>- 个人信息：姓名、电子邮件地址、性别、年级与班级、身份（国内或国际），以及身份（学生或教师）。</cn>
        </p>
        <p class="policySubContent">
            <en>- Transaction Information: Details regarding your purchases and shopping preferences.</en>
            <cn>- 交易信息：有关您的购买和购物偏好的详细信息。</cn>
        </p>
        <p class="policySubContent">
            <en>- Cookies: We use Cookies to store login state information, and they are encrypted to ensure security.
                We may also use Cookies to store your consent to our use of Cookies.
            </en>
            <cn>-
                Cookies：我们使用Cookies存储登录状态信息，并对其进行加密以确保安全性。我们也会使用Cookies来储存您是否同意我们对Cookies的使用。
            </cn>
        </p>
        <hr>
        <hr>
        <p class="policySection">
            <en>2. How We Use Your Information</en>
            <cn>2. 我们如何使用您的信息</cn>
        </p>
        <p class="policyContent">
            <en>We use your personal information for the following purposes:</en>
            <cn>我们将您的个人信息用于以下目的：</cn>
        </p>
        <hr>
        <p class="policySubContent">
            <en>- To send you order confirmation and updates via email.</en>
            <cn>- 通过电子邮件向您发送订单确认和更新。</cn>
        </p>
        <p class="policySubContent">
            <en>- To verify your identity for processing orders and granting access to your shopping account.</en>
            <cn>- 验证您的身份，以处理订单并授予您访问购物帐户的权限。</cn>
        </p>
        <p class="policySubContent">
            <en>- To provide the commodities you have purchased or reserved.</en>
            <cn>- 提供您购买或预订的商品。</cn>
        </p>
        <hr>
        <hr>
        <p class="policySection">
            <en>3. Sharing of Information</en>
            <cn>3. 信息共享</cn>
        </p>
        <p class="policyContent">
            <en>We do not share your personal information with third parties, except where required by law or for our
                internal operational purposes.
            </en>
            <cn>我们不会与第三方共享您的个人信息，除非法律要求或出于我们的内部运营目的。</cn>
        </p>
        <hr>
        <hr>
        <p class="policySection">
            <en>4. Data Security</en>
            <cn>4. 数据安全</cn>
        </p>
        <p class="policyContent">
            <en>We take reasonable precautions to protect your data and have a security plan in place to safeguard your
                personal information from unauthorized access or disclosure.
            </en>
            <cn>我们采取合理的预防措施来保护您的数据，并制定了安全计划，以防止您的个人信息被未经授权的访问或披露。</cn>
        </p>
        <hr>
        <hr>
        <p class="policySection">
            <en>5. Your Rights</en>
            <cn>5. 您的权利</cn>
        </p>
        <p class="policyContent">
            <en>You have the right to:</en>
            <cn>您有权：</cn>
        </p>
        <hr>
        <p class="policySubContent">
            <en>- Access your personal information.</en>
            <cn>- 访问您的个人信息。</cn>
        </p>
        <p class="policySubContent">
            <en>- Request the deletion of your account and associated personal information.</en>
            <cn>- 请求删除您的帐户及相关的个人信息。</cn>
        </p>
        <p class="policySubContent">
            <en>- To update or correct your personal information, you will need to delete the account and re-register.
            </en>
            <cn>- 如果需要更新或更正您的个人信息，您将需要删除帐户并重新注册。</cn>
        </p>
        <hr>
        <hr>
        <p class="policySection">
            <en>6. Children's Privacy</en>
            <cn>6. 儿童隐私</cn>
        </p>
        <p class="policyContent">
            <en>This website is not intended for children under 13, and we do not knowingly collect information from
                children under this age without parental consent. If you believe we have inadvertently collected such
                data, please contact us to remove the information.
            </en>
            <cn>
                本网站不适用于13岁以下的儿童，未经父母同意，我们不会故意收集此年龄以下儿童的信息。如果您认为我们无意中收集了此类数据，请联系我们删除该信息。
            </cn>
        </p>
        <hr>
        <hr>
        <p class="policySection">
            <en>7. Changes to this Privacy Policy</en>
            <cn>7. 隐私政策的变更</cn>
        </p>
        <p class="policyContent">
            <en>We reserve the right to update this Privacy Policy at any time. If changes are made, we will notify
                users via email (if you have an account) and by posting a notice on the website.
            </en>
            <cn>
                我们保留随时更新本隐私政策的权利。如果做出更改，我们将通过电子邮件通知用户（如果您有帐户），并在网站上发布通知。
            </cn>
        </p>
        <hr>
        <hr>
        <p class="policySection">
            <en>8. Contact Information</en>
            <cn>8. 联系信息</cn>
        </p>
        <p class="policyContent">
            <en>If you have any questions or concerns regarding this Privacy Policy, please contact us at: help@sclscampus.shop
            </en>
            <cn>如果您对本隐私政策有任何疑问或担忧，请通过以下方式联系我们：help@sclscampus.shop</cn>
        </p>
    </div>
{% endblock %}
