.verificationFrame {
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
    overflow: hidden;
}

.verificationBox {
    width: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding: 2.5% 5%;
    z-index: 2;
    backdrop-filter: blur(20px);
}

.verificationTitle {
    font-size: calc(1.2vh + 1.2vw);
    font-weight: bold;
    margin-bottom: 1%;
}

.verificationSubtitle {
    font-size: calc(.6vh + .6vw);
}

.verificationInput {
    background-color: transparent;
    border-radius: 5px;
    border: white 2px solid;
    width: 15vw;
    aspect-ratio: 5;
    color: white;
    font-size: calc(1vh + 1vw);
    margin-top: 2.5vh;
}

.verificationSubmit {
    background-color: #174d3d;
    border-radius: 5px;
    border: 2px solid #174d3d;
    width: 15vw;
    aspect-ratio: 5;
    color: white;
    font-size: calc(1.25vh + 1.25vw);
    margin-top: 2.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    cursor: pointer;
}

.verificationSubmit[disabled] {
    filter: grayscale(1);
}